.intro-header {
	background-image: url("../images/grocerygirl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.header-text {
	text-align: center;
	padding: 3em 0;
	font-size: 3em;
	font-weight: bold;
	color: #FFF;
}

.header-text h1 {
	padding: 0.125em 0;
}

.input {
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

#item-input input[type="text"] {
  	padding: 10px;
  	border: solid 1px #dcdcdc;
  	transition: box-shadow 0.3s, border 0.3s;
}
#item-input input[type="text"]:focus,
#item-input input[type="text"].focus {
  	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
}

#item-input {
  	height: 25px;
  	width: 220px;
}

#add-button {
	width: 24px;
	height: 24px;
}