.intro-header {
	background-image: url("../images/grocerygirl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.header-text {
	text-align: center;
	padding: 3em 0;
	font-size: 3em;
	font-weight: bold;
	color: #6EBAAA;
}

.header-text h1 {
	background-color: #FFF;
	padding: 0.125em 0;
}